* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#header-page{
    background-color: #80aaff;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: white;
}

#btnSubmit {
    width: 90px;
    background-color: white;
    cursor: pointer;

}

.lableInput{
    cursor: pointer;
    font-style: italic;
    font-size: 30px;
    justify-content: center;
}
.inputsNumbers{
    width: 250px;
}
#formNumber{
    margin-top: 50px;
    background-color: ghostwhite;
    height: 300px;
    align-items: center;
}
#divFormNumber{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#divFormNumber div{
    margin-top: 20px;
}
#divBtnSubmit{
    text-align: center;
}
#headerBody{
    margin-left: 50px;
    margin-top: 50px;
}