* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#header-page{
    background-color: rgba(52, 206, 13, 0.411);
    display: flex;
    padding: 20px;
    justify-content: space-between;
}


p {
    margin-top: 15px;
    margin-left: 15px;
}

#formNumber {
    margin-top: 15px;
    margin-left: 15px
}

#btnSubmit {
    width: 60px;
    background-color: rgb(25, 144, 255);
}
#lable-field{
    cursor: pointer;
}