a:link{
    color: darkorange;
}
a:visited{
    color: blue;
}
a:hover{
    background-color: darkblue;
    color: white;
    text-decoration: none;
}
a:active{
    background-color: aquamarine;
}
.container-math{
    display: flex;
    background-color: white;
    height: 180px;
    align-items: center;
    justify-content: center;

}
.container-text-math{
    margin: 20px auto;
}
.container-text-math div{
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}
img{
    width: 328px;
    height: 156px;
}

.math-exemple{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
