* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.lableInput{
    cursor: pointer;
    font-style: italic;
    font-size: 30px;
}
.input-numbers{
    width: 250px;
    height: 30px;
}
.input-numbers:focus{
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
    outline: none;
    border: 1.5px solid black;
}
.form-number{
    background-color: rgb(219, 219, 219);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divFormNumber{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.divFormNumber div:nth-child(2n),
.divFormNumber div:nth-child(3n){
    margin-top: 20px;
    justify-content: center;
}
#divBtn{
    text-align: center;
}
.btn {
    width: 122px;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}
#headerBody{
    margin-left: 50px;
    margin-top: 50px;
}
.footer{
    height: 100px;
    background-color:#72c02c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-footer{
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
}
.separator{
    margin:20px 0;
}
.converter-main div{
    background-color:  rgb(219, 219, 219);
    align-items: center;
    justify-content: center;
    text-align: center;
}
