* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header-page{
    background-color:#72c02c;
    display: flex;
    height: 80px;
    align-items: center;
    color: white;
}
.container-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}
.text-header:hover{
    color: rgb(207, 207, 207)
}
.text-header{
    transition: all 600ms ease-in;
}
#header-main-text{
    text-transform: uppercase;
}
.container-separator{
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
.separator{
    width: 150px;
}
hr{
    height: 3px;
    background-color:#72c02c;
}