* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header-page{
    background-color:#72c02c;
    display: flex;
    height: 80px;
    align-items: center;
    color: black;
}
.container-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}
.text-header:hover{
    color: white;
    
}
.text-header{
    transition: all 600ms ease-in;
}
#header-main-text{
    text-transform: uppercase;
}
