* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body * ::selection{
    background: #5c5c5c;
    color: white;
}

.lableInput{
    cursor: pointer;
    color: white;
    font-size: 30px;
}
.input-numbers{
    width: 300px;
    height: 30px;
}
.input-numbers:focus{
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
    outline: none;
    border: 1.5px solid rgb(255, 255, 255);
}
.form-number{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.divFormNumber{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.divFormNumber div:nth-child(2n),
.divFormNumber div:nth-child(3n){
    margin-top: 30px;
    justify-content: center;
}
#divBtn{
    text-align: center;
}
.btn {
    width: 122px;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}
#headerBody{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}
.footer{
    height: 100px;
    background-color:#72c02c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-footer{
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
}
.converter-main div h2::after{
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 100px;
    content: " ";
    margin-left: -50px;
    position: absolute;
    background: #72c02c;
}
.converter-main-title{
    z-index: 1;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 25px;
    text-transform: uppercase;
}
.know-more{
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.know-more div{
    margin-left: 25%;
    margin-right: 25%;
}

a:link{
    color: black;
}
a:visited{
    color: #5c5c5c;
}
a:hover{
    background-color: black;
    color: white;
    text-decoration: none;
}
a:active{
    background-color:#5c5c5c;
}
.container-math{
    display: flex;
    background-color: white;
    height: 180px;
    align-items: center;
    justify-content: center;

}
.container-text-math{
    margin: 20px auto;
}
.container-text-math div{
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}
.title-exemple{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}
.title-exemple h3::after{
    content: " ";
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 70px;
    content: " ";
    margin-left: -35px;
    position: absolute;
    background: #72c02c;

}
img{
    width: 328px;
    height: 156px;
}

.math-exemple{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header-page{
    background-color:#72c02c;
    display: flex;
    height: 80px;
    align-items: center;
    color: black;
}
.container-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}
.text-header:hover{
    color: white;
    
}
.text-header{
    transition: all 600ms ease-in;
}
#header-main-text{
    text-transform: uppercase;
}
